.board {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  grid-gap: 10px;
}

.box {
  background-color:#576e8f;
  color: white;
  font-size: 30px;
}

#one {

}

#two {

}

#three {

}

#four {

}

#five {

}

#six {

}

#seven {

}

#eight {

}

#nine {

}